.container{
    display: flex;
    flex-direction: column;
    gap:12px;
}

.title{
    font-weight: 900;
    color: rgb(35, 11, 57);
}

.username{
    color: beige;
}

.avatar{
    border-radius: 50%;
}