.container{
    display: flex;
    gap:15px;
}
.box{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.title{
    font-weight: 900;
    color: rgb(35, 11, 57);
}

.username{
    color: beige;
}

.avatar{
    border-radius: 50%;
}