.links{
    display:flex;
    align-items:center;
    gap:12px;
}
.logout{
    padding:13px;
    cursor:pointer;
    font-weight:bold;
    font-size: medium;
    color: rgb(96, 90, 90);
    border-radius:19px;
}
.container{
    display:flex;
}

.menuIcon{
    height: 45px;
    width: 45px;
    cursor:pointer;
    margin-left:17px;
}


.menuIcon,
.menuLink {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .menuLink {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    background-color:var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}