.container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(163, 157, 157);
  }
  
  .text{
    font-size: 15px;
  }
  
  @media (max-width:768px){
    .container{
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }

  .logo{
    font-weight: bold;
  }
  