.container{
    display:flex;
    flex-direction: column;
    gap:19px;
    margin-bottom:20px;
}

.top{
    display: flex;
}

.imgCont{
    width:90%;
    height:400px;
    position:relative;
}

/* .imgCont:hover{
    transform: scale(105);
} */

.img{
    object-fit:cover;

}

.date{
    font-size:12px;
    transform:rotate(90deg);
    margin: auto;
}

.link{
    text-decoration: underline;
    cursor: pointer;
}

.bottom h1{
    font-size: 23px;;
    margin-bottom: 20px;
    width: 90%;

}

.bottom p{
    margin-bottom: 20px;
    font-weight: 300;
    color:gray;
    width: 90%;
}