.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  
  .form input{
    padding: 20px;
    background-color:rgb(61, 60, 60);
    color: var(--textColor);
    border: solid 2px slateblue;
    border-radius: 5px;
  }
  
  .form button{
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    color:black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }